* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-image: url(./component/img/weatherAppBackGroundImage.jpg);
	height: 100%;
	width: 100%;
}
.container {
	max-width: 400px;
	margin: auto;
	margin-top: 20%;
	margin-left: 40%;
	background-color: hsl(83, 65%, 90%);
}

#searchIcon {
	display: flex;
	justify-content: center;
}

#weatherCard {
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
}

#weatherName,
#weatherTemp,
#weatherDesc {
	display: flex;
	justify-content: center;
	margin: 5px 0px;
}

#weatherIcon {
	margin-left: 35%;
	height: 100px;
	width: 100px;
}
